$base-color: #000000;
$secondary-color: #FFFFFF;
$light-color: #B2B2B2;
$accent-color: #EE1C25;
$accent-highlight: #FFCB07;
$main-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$bolder-font: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;

@mixin link ($secondary-color: #FFFFFF) {
  text-decoration: none;
  color: $secondary-color;
}

@mixin shadow () {
    -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  }

@mixin h2 () {
  font-size: 24px;
  font-weight: 300;
}

@mixin h3 () {
  font-size: 12px;
  font-weight: 100;
  color: $light-color;
}

@mixin p () {
  font-size: 12px;
  font-weight: 100;
  line-height: 2em;
}

/*******************************
BODY
********************************/

body {
  background-image: url("../images/bg.jpg");
  background-image: no-repeat;
  min-height: 100%;
  font-family: $main-font;
}

header, section, footer {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

section {
  margin-bottom: 50px;
}

header {
  .social {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 40%;
  }
  .subscribe {
    margin-right: 50px;
  }

  .subscribe:hover {
    color: $accent-highlight;
  }
  .social a {
    text-align: center;
    padding: 5px;
  }
  .dots {
    font-size: 14px;
    color: $secondary-color;
    transform: rotate(90deg);
  }
  .fa {
    width: 25px;
    height: 30px;
    @include shadow ();
    font-size: 34px;
    padding: 20px;
  }
  .fa-facebook {
    background: rgba(70, 98, 158, .8);
  }
  .fa-facebook:hover {
    background: rgba(70, 98, 158, 1);
  }
  .fa-rss {
    background: rgba(243, 111, 36, .8);
  }
  .fa-rss:hover {
    background: rgba(243, 111, 36, 1);
  }
  .fa-twitter {
    background: rgba(85, 172, 238, .8);
  }
  .fa-twitter:hover {
    background: rgba(85, 172, 238, 1);
  }
  .fa-youtube {
    background: rgba(238, 28, 37, .8);
  }
  .fa-youtube:hover {
    background: rgba(238, 28, 37, 1);
  }
  div {
    margin-bottom: 25px;
  }
  nav {
    display: block;
  }
  .nav-1, .nav-2, .nav-3 {
    margin-right: 0.25%;
  }
  a {
    @include link();
    font-size: 14px;
  }
  ul {
    width: 100%;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    display: inline-block;
    background-color: $accent-color;
    @include shadow();
    padding: 10px;
    width: 22%;
    text-align: center;
  }
  li:hover {
    background: $accent-highlight;
  }
}

.photo-slider {
  background-image: url("../images/grid.png"), url("../images/top-image.png");
  background-size: 110%, 130%;
  background-position: 40% 28%;
  border: 10px solid $secondary-color;
  @include shadow();
  img {
    padding: 40px 20px 40px 20px;
    max-width: 35%;
  }
}

.news-box {
  display: flex;
  div {
    background-color: $secondary-color;
    @include shadow();
    padding: 15px;
    justify-content: space-between;
    width: 30%;
  }
  .news-1, .news-2 {
    margin-right: 1%;
  }
  h2 {
    @include h2 ();
  }
  h3 {
    @include h3 ();
  }
  p {
    @include p ();
  }
  a {
    @include link($accent-color);
    text-align: center;
  }
  a:hover {
    color: $accent-highlight;
  }
}

.skateboarders-box {
  a {
    @include link();
  }
  h1 {
    font-family: $bolder-font;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  div {
    display: inline-block;
  }
  .left-skateboarders {
    width: 65%;
    display: inline-block;
    float: left;
    margin-bottom: 50px;
  }
  .right-skateboarders {
    width: 35%;
    display: inline-block;
    float: right;
    margin-bottom: 50px;
  }
}

.lance {
  background-image: url("../images/sk8er-4.png");
  background-size: 140%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 46%;
  @include shadow();
  height: 175px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.rodney {
  background-image: url("../images/sk8er-3.png");
  background-size: 140%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 46%;
  @include shadow();
  height: 175px;
  margin-bottom: 10px;
}

.steve {
  background-image: url("../images/sk8er-1.png");
  background-size: 115%;
  background-position: 0 60%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 97%;
  @include shadow();
  height: 175px;
}

.tommy {
  background-image: url("../images/sk8er-2.png");
  background-size: 285%;
  background-position: 80% 20%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 94%;
  @include shadow();
  height: 370px;
}

.board-design {
  clear: both;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  @include shadow();
}

footer {
  clear: both;
  background-color: $secondary-color;
  @include shadow();
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  div {
    width: 50%;
    padding: 10px;
  }
  h2 {
    @include h2 ();
  }
  p {
    @include p ();
  }
  a {
      @include link($light-color);
  }
  .fa {
    width: 13px;
    height: 15px;
    @include shadow ();
    font-size: 18px;
    padding: 10px;
  }
  .fa-facebook {
    background: rgba(35, 35, 35, .8);
  }
  .fa-facebook:hover {
    background: rgba(70, 98, 158, 1);
  }
  .fa-rss {
    background: rgba(35, 35, 35, .8);
  }
  .fa-rss:hover {
    background: rgba(243, 111, 36, 1);
  }
  .fa-twitter {
    background: rgba(35, 35, 35, .8);
  }
  .fa-twitter:hover {
    background: rgba(85, 172, 238, 1);
  }
  .fa-youtube {
    background: rgba(35, 35, 35, .8);
  }
  .fa-youtube:hover {
    background: rgba(238, 28, 37, 1);
  }
  input, textarea {
    width: 80%;
    color: $light-color;
    border: 2px solid $light-color;
    margin: 5px;
    padding: 5px;
    float: right;
  }
  .button {
    background: $accent-color;
    color: $secondary-color;
    width: 40%;
    padding: 10px 30px 10px 30px;
    float: right;
    text-align: center;
    margin: 5px;
    font-size: 14px;
  }
  .button:hover {
    background: $accent-highlight;
  }

}
