$base-color: #000000;
$secondary-color: #FFFFFF;
$light-color: #B2B2B2;
$accent-color: #EE1C25;
$accent-highlight: #FFCB07;
$main-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$bolder-font: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;

@mixin link ($secondary-color: #FFFFFF) {
  text-decoration: none;
  color: $secondary-color;
}

@mixin shadow () {
    -webkit-box-shadow: 0 4px 0 0 rgba(178, 178, 178, 0.2);
    -moz-box-shadow: 0 4px 0 0 rgba(178, 178, 178, 0.2);
    box-shadow: 0 4px 0 0 rgba(178, 178, 178, 0.2);
  }

@mixin h2 () {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
}

@mixin h3 () {
  font-size: 12px;
  font-weight: 100;
  color: $light-color;
}

@mixin p () {
  font-size: 12px;
  font-weight: 1;
  line-height: 2em;
}

/*******************************
BODY
********************************/

body {
  background: linear-gradient(
  rgba(0, 0, 0, .65),
  rgba(0, 0, 0, .65)
  ), url("../images/bg.jpg");
  background-image: no-repeat;
  min-height: 100%;
  font-family: $main-font;
}

header, section, footer, .slider-dot {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

section {
  margin-bottom: 50px;
}

header {
  .social {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 35%;
  }
  .subscribe {
    margin-right: 50px;
  }

  .subscribe:hover {
    color: $accent-highlight;
  }
  .social a {
    text-align: center;
    padding: 5px;
  }
  .dots {
    font-size: 14px;
    color: $secondary-color;
      -webkit-transform: rotateZ(90deg);
      -ms-transform: rotateZ(90deg);
      transform: rotateZ(90deg);
  }
  .fa {
    width: 25px;
    height: 30px;
    @include shadow ();
    font-size: 34px;
    padding: 20px;
  }
  .fa-facebook {
    background: rgba(70, 98, 158, .5);
  }
  .fa-facebook:hover {
    background: rgba(70, 98, 158, 1);
  }
  .fa-rss {
    background: rgba(243, 111, 36, .5);
  }
  .fa-rss:hover {
    background: rgba(243, 111, 36, 1);
  }
  .fa-twitter {
    background: rgba(85, 172, 238, .5);
  }
  .fa-twitter:hover {
    background: rgba(85, 172, 238, 1);
  }
  .fa-youtube {
    background: rgba(238, 28, 37, .5);
  }
  .fa-youtube:hover {
    background: rgba(238, 28, 37, 1);
  }
  div {
    margin-bottom: 25px;
  }
  nav {
    display: block;
  }
  .nav-1, .nav-2, .nav-3 {
    margin-right: 1%;
  }
  a {
    @include link();
    font-size: 14px;
  }
  ul {
    width: 100%;
  }
  li {
    display: inline-block;
    background-color: $accent-color;
    @include shadow();
    padding: 10px 15px 10px 15px;
    width: 20%;
    text-align: center;
  }
  li:hover {
    background: $accent-highlight;
  }
}

.photo-slider {
  background-image: url("../images/grid.png"), url("../images/top-image.png");
  background-size: 110%, 130%;
  background-position: 40% 28%;
  border: 10px solid $secondary-color;
  @include shadow();
  img {
    padding: 40px 20px 40px 20px;
    max-width: 35%;
  }
}

.slider-dot:hover {
  color: $accent-highlight;
}

.news-box {
  display: flex;
  div {
    background-color: $secondary-color;
    @include shadow();
    padding: 15px;
    justify-content: space-between;
    width: 30%;
  }
  .news-1, .news-2 {
    margin-right: 1%;
  }
  h2 {
    @include h2 ();
  }
  h3 {
    @include h3 ();
  }
  p {
    @include p ();
  }
  a {
    @include link($accent-color);
    text-align: center;
  }
  a:hover {
    color: $accent-highlight;
  }
}

.skateboarders-box {
  a {
    @include link();
    display: block;
    margin-top: 18%;
  }
  a:hover {
    color: $accent-highlight;
  }
  h1 {
    font-family: $bolder-font;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
  }
  div {
    display: inline-block;
  }
  .left-skateboarders {
    width: 65%;
    display: inline-block;
    float: left;
    margin-bottom: 50px;
  }
  .right-skateboarders {
    width: 35%;
    display: inline-block;
    float: right;
    margin-bottom: 50px;
  }
}

.lance {
  background-image: url("../images/sk8er-4.png");
  background-size: 130%;
  background-position: 100% 0;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 46%;
  @include shadow();
  height: 175px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.rodney {
  background-image: url("../images/sk8er-3.png");
  background-size: 130%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 46%;
  @include shadow();
  height: 175px;
  margin-bottom: 10px;
}

.steve {
  background-image: url("../images/sk8er-1.png");
  background-size: 115%;
  background-position: 0 60%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 97%;
  @include shadow();
  height: 175px;
  a {
    margin-top: 12%;
  }
}

.tommy {
  background-image: url("../images/sk8er-2.png");
  background-size: 285%;
  background-position: 80% 20%;
  background-image: no-repeat;
  border: 5px solid $secondary-color;
  width: 94%;
  @include shadow();
  height: 370px;
  a {
    margin-top: 50%;
  }
}

.board-design {
  clear: both;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  @include shadow();
  img:hover {
    cursor: none;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition-duration: 1s;
  }
}

footer {
  clear: both;
  background-color: $secondary-color;
  @include shadow();
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  div {
    width: 50%;
    padding: 10px;
  }
  h2 {
    @include h2 ();
  }
  p {
    @include p ();
  }
  a {
      @include link($light-color);
  }
  .fa {
    width: 13px;
    height: 15px;
    @include shadow ();
    font-size: 18px;
    padding: 10px;
  }
  .fa-facebook {
    background: rgba(35, 35, 35, .8);
  }
  .fa-facebook:hover {
    background: rgba(70, 98, 158, 1);
  }
  .fa-rss {
    background: rgba(35, 35, 35, .8);
  }
  .fa-rss:hover {
    background: rgba(243, 111, 36, 1);
  }
  .fa-twitter {
    background: rgba(35, 35, 35, .8);
  }
  .fa-twitter:hover {
    background: rgba(85, 172, 238, 1);
  }
  .fa-youtube {
    background: rgba(35, 35, 35, .8);
  }
  .fa-youtube:hover {
    background: rgba(238, 28, 37, 1);
  }
  input, textarea {
    width: 80%;
    color: $light-color;
    border: 2px solid $light-color;
    margin: 5px;
    padding: 5px;
    float: right;
  }
  .button {
    background: $accent-color;
    color: $secondary-color;
    width: 40%;
    padding: 10px 30px 10px 30px;
    float: right;
    text-align: center;
    margin: 5px;
    font-size: 14px;
  }
  .button:hover {
    background: $accent-highlight;
  }

}

/*******************************
1282PX RESPONSIVE
*******************************/

@media screen and (min-width: 1381px) {
  .small-nav {
    display: none;
  }
}

/*******************************
992PX RESPONSIVE
*******************************/

@media screen and (min-width: 992px) and (max-width: 1381px) {
  .small-nav {
    display: none;
  }
  header .social {
    padding-left: 17%;
  }
  header a {
    font-size: 10px;
  }
  nav li {
    width: 20%;
    padding: 8px 12px 8px 12px;
  }
  header .nav-1, header .nav-2, header .nav-3 {
    margin-right: .3%;
  }
  section {
    margin-bottom: 35px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  .news-box p {
    font-size: 12px;
    line-height: 1.6em;
  }
  .skateboarders-box h1 {
    font-size: 26px;
  }
  .lance, .rodney {
    width: 45%;
    background-size: 185%;
  }
  .lance a, .rodney a {
    margin-top: 28%;
  }
  .steve a {
    margin-top: 20%;
  }
  .right-skateboarders {
    width: 35%;
  }
  .skateboarders-box .right-skateboarders, .skateboarders-box .left-skateboarders {
    margin-bottom: 35px;
  }
  .tommy {
    background-size: 350%;
  }
  .tommy a {
    margin-top: 80%;
  }
}

/*******************************
768PX RESPONSIVE
*******************************/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .small-nav {
    display: none;
  }
  header .subscribe {
    margin-right: 20px;
  }
  header .social {
    padding-left: 30%;
    margin-bottom: 15px;
  }
  header .social a {
    padding: 1px;
  }
  header a {
    font-size: 7px;
  }
  header .fa {
    font-size: 24px;
    padding: 10px 10px 8px 10px;
  }
  nav li {
    width: 18%;
    padding: 7px 12px 7px 12px;
  }
  header .nav-1, header .nav-2, header .nav-3 {
    margin-right: 1%;
  }
  section {
    margin-bottom: 25px;
  }
  .photo-slider {
    border: 8px solid $secondary-color;
  }
  .news-box h2 {
    font-size: 14px;
  }
  .news-box h3 {
    font-size: 10px;
  }
  .news-box h4 {
    font-size: 10px;
  }
  .news-box p {
    font-size: 10px;
    line-height: 1.4em;
  }
  .skateboarders-box h1 {
    font-size: 18px;
  }
  .lance, .rodney {
    width: 43%;
    background-size: 250%;
  }
  .rodney {
    background-position: 25% 0;
  }
  .lance a, .rodney a {
    margin-top: 50%;
  }
  .steve {
    background-size: 125%;
    width: 94%;
  }
  .steve a {
    margin-top: 29%;
  }
  .right-skateboarders {
    width: 33%;
  }
  .skateboarders-box .right-skateboarders, .skateboarders-box .left-skateboarders {
    margin-bottom: 25px;
  }
  .tommy {
    background-size: 445%;
  }
  .tommy a {
    margin-top: 110%;
  }
  .contactForm {
    margin-top: 10%;
  }
}

/*******************************
600PX RESPONSIVE
*******************************/

@media screen and (min-width: 600px) and (max-width: 767px) {
  .large-nav {
    display: none;
  }
  header .subscribe {
    margin-right: 15px;
  }
  header .social {
    padding-left: 18%;
    margin-bottom: 10px;
  }
  header .social a {
    padding: 1px;
  }
  header a {
    font-size: 7px;
  }
  header .fa {
    font-size: 20px;
    padding: 10px 8px 2px 8px;
  }
  nav ul {
    display: flex;
  }
  nav li {
    justify-content: space-between;
    padding: 6px 15px 6px 15px;
  }
  header .nav-1, header .nav-2, header .nav-3 {
    margin-right: .5%;
  }
  .small-nav {
    margin-bottom: 20px;
  }
  section {
    margin-bottom: 20px;
  }
  .photo-slider {
    border: 5px solid $secondary-color;
  }
  .news-box {
    display: block;
    width: 60%;
  }
  .news-box div {
    width: 91%;
    margin-right: 0;
  }
  .news-1, .news-2 {
    margin-bottom: 10px;
  }
  .news-box h2 {
    font-size: 14px;
  }
  .news-box h3 {
    font-size: 10px;
  }
  .news-box h4 {
    font-size: 10px;
  }
  .news-box p {
    font-size: 10px;
    line-height: 1.4em;
  }
  .skateboarders-box {
    display: block;
    width: 60%;
  }
  .skateboarders-box h1 {
    font-size: 18px;
  }
  .lance, .rodney {
    background-size: 100%;
  }
  .rodney {
    background-position: 25% 0;
  }
  .lance a, .rodney a, .steve a, .tommy a {
    margin-top: 22%;
  }
  .steve {
    background-size: 125%;
    margin-bottom: 10px;
  }
  .skateboarders-box .right-skateboarders, .skateboarders-box .left-skateboarders {
    display: block;
    width: 97%;
    margin-bottom: 0;
    clear: both;
  }
  .lance, .rodney, .steve, .tommy {
    width: 100%;
    height: 175px;
  }
  .skateboarders-box .right-skateboarders {
    margin-bottom: 20px;
    float: none;
  }
  .tommy {
    background-size: 175%;
    background-position: 80% 28%;
  }
  .board-design {
    display: block;
    margin-bottom: 20px;
    width: 53%;
    img {
      padding: 5px;
    }
  }
  footer {
    display: block;
    div {
      width: 95%;
      height: 220px;
    }
    form {
      padding-top :10px;
    }
    a {
      text-align: center;
    }
  }
}

/*******************************
480PX RESPONSIVE
*******************************/

@media screen and (min-width: 480px) and (max-width: 599px) {
  .large-nav {
    display: none;
  }
  .subscribe {
    display: none;
  }
  header {
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
  }
  header .social {
    display: flex;
    margin-bottom: 5px;
  }
  header .social a {
    justify-content: space-between;
  }
  header a {
    font-size: 7px;
  }
  header .fa {
    font-size: 20px;
    padding: 6px 6px 1px 6px;
  }
  nav ul {
    display: flex;
  }
  nav li {
    justify-content: space-between;
    padding: 6px 15px 6px 15px;
  }
  header .nav-1, header .nav-2, header .nav-3 {
    margin-right: .5%;
  }
  .small-nav {
    margin-bottom: 15px;
  }
  section {
    margin-bottom: 15px;
  }
  .photo-slider {
    border: 5px solid $secondary-color;
  }
  .news-box {
    display: block;
    width: 60%;
  }
  .news-box div {
    width: 91%;
    margin-right: 0;
  }
  .news-1, .news-2 {
    margin-bottom: 10px;
  }
  .news-box h2 {
    font-size: 14px;
  }
  .news-box h3 {
    font-size: 10px;
  }
  .news-box h4 {
    font-size: 10px;
  }
  .news-box p {
    font-size: 10px;
    line-height: 1.4em;
  }
  .skateboarders-box {
    display: block;
    width: 60%;
  }
  .skateboarders-box h1 {
    font-size: 18px;
  }
  .lance, .rodney {
    background-size: 125%;
  }
  .rodney {
    background-position: 25% 0;
  }
  .lance a, .rodney a, .steve a, .tommy a {
    margin-top: 29%;
  }
  .steve {
    background-size: 125%;
    margin-bottom: 10px;
  }
  .skateboarders-box .right-skateboarders, .skateboarders-box .left-skateboarders {
    display: block;
    width: 97%;
    margin-bottom: 0;
    clear: both;
  }
  .lance, .rodney, .steve, .tommy {
    width: 100%;
    height: 175px;
  }
  .skateboarders-box .right-skateboarders {
    margin-bottom: 20px;
    float: none;
  }
  .tommy {
    background-size: 175%;
    background-position: 80% 28%;
  }
  .board-design {
    display: block;
    margin-bottom: 20px;
    width: 53%;
    img {
      padding: 5px;
    }
  }
  footer {
    display: block;
    div {
      width: 95%;
      height: 250px;
    }
    form {
      padding-top: 25px;
    }
    a {
      text-align: center;
    }
  }
}

/*******************************
320PX RESPONSIVE
*******************************/

@media screen and (min-width: 320px) and (max-width: 479px) {
  .large-nav {
    display: none;
  }
  header .subscribe {
    display: none;
  }
  header .social {
    padding-left: 1%;
    margin-bottom: 5px;
    display: flex;
  }
  header .social a {
    justify-content: space-between;
  }
  header .dots {
    display: none;
  }
  header a {
    font-size: 5px;
  }
  header .fa {
    font-size: 15px;
    padding: 5px 5px 1px 5px;
  }
  nav ul {
    display: flex;
  }
  nav li {
    justify-content: space-between;
    padding: 6px 15px 6px 15px;
  }
  header .nav-1, header .nav-2, header .nav-3 {
    margin-right: .5%;
  }
  .small-nav {
    margin-bottom: 15px;
  }
  section {
    margin-bottom: 15px;
  }
  .photo-slider {
    border: 5px solid $secondary-color;
  }
  .news-box {
    display: block;
    width: 55%;
  }
  .news-box div {
    width: 91%;
    margin-right: 0;
  }
  .news-1, .news-2 {
    margin-bottom: 10px;
  }
  .news-box h2 {
    font-size: 14px;
  }
  .news-box h3 {
    font-size: 10px;
  }
  .news-box h4 {
    font-size: 10px;
  }
  .news-box p {
    font-size: 10px;
    line-height: 1.4em;
  }
  .skateboarders-box {
    display: block;
    width: 59%;
  }
  .skateboarders-box h1 {
    font-size: 14px;
  }
  .lance, .rodney {
    background-size: 105%;
  }
  .rodney {
    background-position: 25% 0;
  }
  .lance a, .rodney a, .steve a, .tommy a {
    margin-top: 25%;
  }
  .steve {
    background-size: 125%;
    margin-bottom: 10px;
  }
  .skateboarders-box .right-skateboarders, .skateboarders-box .left-skateboarders {
    display: block;
    width: 97%;
    margin-bottom: 0;
    clear: both;
  }
  .lance, .rodney, .steve, .tommy {
    width: 100%;
    height: 100px;
  }
  .skateboarders-box .right-skateboarders {
    margin-bottom: 20px;
    float: none;
  }
  .tommy {
    background-size: 175%;
    background-position: 80% 28%;
  }
  .board-design {
    display: block;
    margin-bottom: 20px;
    width: 50%;
    img {
      padding: 2px;
    }
  }
  footer {
    display: block;
    padding: 10px;
    div {
      width: 95%;
      height: 325px;
    }
    form {
      padding-top: 45px;
    }
    a {
      text-align: center;
    }
  }
}

/*******************************
TINY RESPONSIVE
*******************************/

@media screen and (max-width: 319px) {
  .large-nav {
    display: none;
  }
  header .subscribe {
    display: none;
  }
  header .social {
    padding-left: 1%;
    margin-bottom: 5px;
    display: flex;
  }
  header .social a {
    justify-content: space-between;
  }
  header .dots {
    display: none;
  }
  header a {
    font-size: 5px;
  }
  header .fa {
    font-size: 15px;
    padding: 5px 5px 1px 5px;
  }
  nav ul {
    display: flex;
  }
  nav li {
    justify-content: space-between;
    padding: 6px 15px 6px 15px;
  }
  header .nav-1, header .nav-2, header .nav-3 {
    margin-right: .5%;
  }
  .small-nav {
    margin-bottom: 15px;
  }
  section {
    margin-bottom: 15px;
  }
  .photo-slider {
    border: 5px solid $secondary-color;
  }
  .news-box {
    display: block;
    width: 55%;
  }
  .news-box div {
    width: 91%;
    margin-right: 0;
  }
  .news-1, .news-2 {
    margin-bottom: 10px;
  }
  .news-box h2 {
    font-size: 14px;
  }
  .news-box h3 {
    font-size: 10px;
  }
  .news-box h4 {
    font-size: 10px;
  }
  .news-box p {
    font-size: 10px;
    line-height: 1.4em;
  }
  .skateboarders-box {
    display: block;
    width: 59%;
  }
  .skateboarders-box h1 {
    font-size: 14px;
  }
  .lance, .rodney {
    background-size: 105%;
  }
  .rodney {
    background-position: 25% 0;
  }
  .lance a, .rodney a, .steve a, .tommy a {
    margin-top: 25%;
  }
  .steve {
    background-size: 125%;
    margin-bottom: 10px;
  }
  .skateboarders-box .right-skateboarders, .skateboarders-box .left-skateboarders {
    display: block;
    width: 97%;
    margin-bottom: 0;
    clear: both;
  }
  .lance, .rodney, .steve, .tommy {
    width: 100%;
    height: 100px;
  }
  .skateboarders-box .right-skateboarders {
    margin-bottom: 20px;
    float: none;
  }
  .tommy {
    background-size: 175%;
    background-position: 80% 28%;
  }
  .board-design {
    display: block;
    margin-bottom: 20px;
    width: 50%;
    img {
      padding: 2px;
    }
  }
  footer {
    display: block;
    padding: 10px;
    div {
      width: 95%;
      height: 325px;
    }
    form {
      padding-top: 45px;
    }
    a {
      text-align: center;
    }
  }
}
